<h1>Tweets一覧</h1>
<% @tweets.each do |tweet| %>
  <p>本文:<%= tweet.content %></p>
  <%= link_to "tweetを編集する", edit_tweet_path(tweet.id) %>
  <%= link_to 'tweetを削除する', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
<% end %>

<%= link_to "tweetを作成する", new_tweet_path %>