<div class="container">
  <h2>ユーザー一覧</h2>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2">
        <%= profile_img(user) %>
        </br>
        <%= link_to user.name, user %>
        </br>
        <%= user.email %>
        </br>
        <%= render 'follow_form', user: user %>
      </div>
    </div>
  <% end %>

</div>